@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Stylist Info Editor</h2>

<h4>Edit info on @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId) //this is used to store info on the category id??? To be passed in when form is submitted.

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("View My Stylists", "Index")</p>