@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;
<h1>Your Stylists:</h1><br>
<br>
@using (Html.BeginForm())
{
  @Html.Label("Filter Stylists by Name")
  @Html.TextBox("Name")
  <input type="submit" value="Search" class="btn btn-info btn-sm"/> //value is the button text
}<br>
@if (@Model.Count == 0)
{
  <h3>You haven't added any stylists yet. Please add a stylist.</h3>
} 

@foreach (Stylist stylist in Model)
{
  <li>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</li><br>
}
<br>
<div class="centerAlign">
<div class="row">
  <div class="col-md-6">
    <p>@Html.ActionLink("Add Another Stylist", "Create")</p>
  </div>
  <div class="col-md-6">
    <p>@Html.ActionLink("Return to Homepage", "Index", "Home")</p>
  </div>
</div>
</div>
