@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h2 class="centerAlign">Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<div class="row centerAlign">
  <div class="col-md-4">
    <h4>@Html.ActionLink("View All Clients", "Index")</h4>
  </div>
  <div class="col-md-4">
    <h4>@Html.ActionLink("Edit this client", "Edit", new { id = Model.ClientId })</h4>
  </div>
  <div class="col-md-4">
    <h4>@Html.ActionLink("Remove Client", "Delete", new { id = Model.ClientId })</h4>
  </div>
</div>


